In [3]:
import pandas as pd

In [4]:
bike_06= pd.read_csv('201806-fordgobike-tripdata.csv')

In [5]:
bike_06.head()

,duration_sec,start_time,end_time,start_station_id,start_station_name,start_station_latitude,start_station_longitude,end_station_id,end_station_name,end_station_latitude,end_station_longitude,bike_id,user_type,member_birth_year,member_gender,bike_share_for_all_trip
0,59088,2018-06-30 23:32:44.6590,2018-07-01 15:57:33.3160,76.0,McCoppin St at Valencia St,37.771662,-122.422423,95.0,Sanchez St at 15th St,37.766219,-122.431060,2100,Subscriber,1975.0,Male,Yes
1,60358,2018-06-30 21:48:19.5570,2018-07-01 14:34:18.1000,248.0,Telegraph Ave at Ashby Ave,37.855956,-122.259795,239.0,Bancroft Way at Telegraph Ave,37.868813,-122.258764,653,Customer,NaN,NaN,No
2,63654,2018-06-30 20:26:53.0310,2018-07-01 14:07:47.2320,23.0,The Embarcadero at Steuart St,37.791464,-122.391034,50.0,2nd St at Townsend St,37.780526,-122.390288,3235,Subscriber,1962.0,Female,No
3,50508,2018-06-30 20:29:59.8130,2018-07-01 10:31:48.2500,58.0,Market St at 10th St,37.776619,-122.417385,88.0,11th St at Bryant St,37.770030,-122.411726,3675,Subscriber,1992.0,Male,No
4,51697,2018-06-30 18:24:56.6960,2018-07-01 08:46:33.7390,196.0,Grand Ave at Perkins St,37.808894,-122.256460,272.0,Woolsey St at Sacramento St,37.850578,-122.278175,3232,Customer,1989.0,Female,No

In [6]:
bike_06.user_type.unique()

array(['Subscriber', 'Customer'], dtype=object)

In [10]:
bike_06.duration_sec.max()*1.0/60/24

59.22083333333333

In [12]:
bike_06.duration_sec.describe()

count    195968.000000
mean        907.748439
std        2642.666562
min          61.000000
25%         351.000000
50%         564.000000
75%         896.000000
max       85278.000000
Name: duration_sec, dtype: float64